<!DOCTYPE HTML>
<html lang="en">
<head>


{% block title %} <title>Tran Project {% endblock %}</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Assignment Home Page"/>
     <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>


<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="/"><span style="color: crimson">AMITY</span><br> <span style="color: #3e72ee">SCHOOLS</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/careers">Careers</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/info">Info</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="/news">News</a>
      </li>
         {% if current_user.is_authenticated %}
                      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    {% endif %}
    </ul>
  </div>

</nav>

{% block main %}

    <br>
    <main >
        <div class="container">
             <h2>"A right environment for learning"</h2>
            <div width="500" height="500">
                <img src="/static/students.jpg" alt="school" ></div>
        </div>

    </main>

 {% endblock %}

  <footer
          class="text-center text-lg-start text-dark"
          style="background-color: #ECEFF1"
          >

    <section
             class="d-flex justify-content-between p-4 text-white"
             style="background-color: #21D192";
             >
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>

      <div >
        <a class="Gecler" href="" class="text-white me-4 ">
          <i class="fab fa-facebook-f fa-lg"></i>
        </a>
        <a class="Gecler"  href="" class="text-white me-4">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a class="Gecler" href="" class="text-white me-4">
          <i class="fab fa-google fa-lg"></i>
        </a>
        <a class="Gecler" href="" class="text-white me-4 ">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a class="Gecler" href="" class="text-white me-4">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a  class="Gecler" href="" class="text-white me-4">
          <i class="fab fa-github fa-lg"></i>
        </a>
      </div>

    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">AMITY GROUP</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
               <p>
             "Teaching our youngsters in the lavishness of their past, the variety of their present, and the opportunities for their future.
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Campuses</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><a href="displayCategory?categoryId=1" class="text-dark">Laval</a>
            </p>
            <p>
              <a href="displayCategory?categoryId=2" class="text-dark">Montreal</a>
            </p>
            <p>
              <a href="displayCategory?categoryId=3" class="text-dark">Quebec City</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-dark">Your Account</a>
            </p>
            <p>
              <a href="#!" class="text-dark">Parent Teacher Association</a>
            </p>

            <p>
              <a href="#!" class="text-dark">Help</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> 821 Avenue Sainte-Croix</p>
            <p><i class="fas fa-envelope mr-3"></i> Laval, Quebec</p>
            <p><i class="fas fa-phone mr-3"></i> H4L 3X9 Canada</p>
            <p><i class="fas fa-print mr-3"></i> Phone: 514-744-4444</p>
          </div>
        </div>
      </div>
    </section>
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class="text-dark"
         >AMITY Group</a
        >
    </div>
    <!-- Copyright -->
  </footer>


</body>
</html>